llama-index==0.12.12
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-embeddings-langchain
llama-index-agent-openai
langchain==0.3.14
langchain-community
langchain-openai
pypdf
streamlit
pandas
llama-index
openai
pytesseract
pdf2image